<div class="contact">
  <h2>Create a Contact</h2>
  <img {{bind-attr src="imageUrl"}} style="max-width:50%;">
  {{#file-upload owner=session.content.userId linkBinding="imageUrl"}}
  {{/file-upload}}
  <div class="field">
    <label class="">First Name</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=firstName }}
    </div>
  </div>
  <div class="field">
    <label class="">Last Name</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=lastName }}
    </div>
  </div>
  <div class="field">
    <label class="">Email Address</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=email }}
    </div>
  </div>
  <div class="field">
    <label class="">Phone Number</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=phoneNumber }}
    </div>
  </div>
  {{!-- <div class="field">
    <label class="">Tags</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=tags }}
    </div>
  </div>
  <div class="field">
    <label class="">Groups</label>
    <div class="">
      {{input type="text" class="input" placeholder="" value=groups }}
    </div>
  </div> --}}
  {{#if formErrors}}
    <h2>Please Fix the following errors</h2>
  {{/if}}
  {{#each formErrors as |error|}}
    <h4>{{error}}</h4>
  {{/each}}
  <button {{action 'createContact'}}>Add Contact</button>
</div>